.group {
  width: 100%;
  max-width: var(--radio-range-max-width);
}

.radios {
  position: relative;
  justify-content: space-between;
  width: 100%;

  &::before {
    content: " ";
    height: 0.25rem;
    width: calc(100% - 2rem);
    background-color: var(--radio-background);
    position: absolute;
    top: calc(2rem / 2 - 0.25rem / 2);
    left: 1rem;
  }
}

.radioRoot {
  text-align: center;

  &:first-of-type {
    text-align: left;
  }

  &:last-of-type {
    text-align: right;
  }
}
