.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card-bg);
  margin-bottom: 1.5rem;
  padding: 5rem 1.5rem;
  border-radius: var(--border-radius-sm);
  max-width: 680px;
}
