/* TODO: Mantine - Refactor out of use? */

.answer-list .section-card__content {
  padding: 0;
}

.answer-list .answer-card {
  border-bottom: 1px solid var(--bg-body);
}

.answer-list .answer-card:last-of-type {
  border-bottom: none;
}
