.card {
  max-width: var(--comment-max-width);
  width: 100%;
  position: relative;
  background-color: var(--candidate-comment-bg);
  gap: 20px;
  padding: 8px 16px 16px;
  border-radius: var(--mantine-radius-default);
  font-size: 14px;
  margin: 12px 10px 0;
}

.header {
  font-weight: 700;
}

.arrow {
  position: absolute;
  transform: rotate(45deg);
  top: -6px;
  width: 16px;
  height: 16px;
  background-color: var(--candidate-comment-bg);
}
