.root {
  border-radius: 0.25rem;
  height: 23px;
  font-size: 12px;
  padding: 0 8px;
  border-width: 0;
  font-weight: 800;
  letter-spacing: normal;

  &[data-variant="filled"] {
    color: var(--tag-default-text);
    background-color: var(--tag-default-bg);
  }

  &[data-variant="light"] {
    color: var(--tag-negative-text);
    background-color: var(--tag-negative-bg);
    border-width: 0;
  }
}
